#addresses{
  margin: 30px;
  width: 50%;
  display: inline-block;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
/*  animation: App-logo-spin infinite 20s linear;*/
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  border-top: 20px;
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: green;
  color: white;
  margin: 2%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
}

.button:hover {
  background-color: #3e8e41
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 2%;
  text-align: left;
  border: 10px;
  border-style: solid;
  border-color: #bfbfbf;
  background-color: #feffdd;
  padding: 3%;
  color: #2d5929;
  height: 40px;
  width: 300px;
}

.delete {
  background-color: #f9885e;
  cursor: pointer;
}

.delete:hover {
  background-color: red;
}

input {
  margin: 5px;
}
